/* button */

    .button{display: inline-block;text-decoration: none;font-family: 'Room', sans-serif;font-weight: 700;text-transform: uppercase;max-width: 285px;width: 100%;height: 40px;line-height: 40px;color:#fff;position: relative;background-color: #c6181a;font-size: 16px;position: relative;text-align: center;padding: 0 10px;border:none;
        &:after{content: '';display: block;position: absolute;top:0;left:0;right:0;height: 0;z-index:0;background-color:#f62224;transition:height 300ms ease;}
        span{position: relative;z-index: 1;line-height: 1;}
        &:hover{
            &:after{height:100%;}
        }
    }

    .button-transparent{color:#fff;border:7px solid #fff;position: relative;background-color:transparent;max-width: 365px;width: 100%;height: 60px;line-height: 10px;text-align: center;font-weight: 700;font-size: 34px;text-transform: uppercase;transition:color 300ms ease;

        &:before{content:'';display: block;position: absolute;z-index:0;top:0;left: 50%;width: 0;height: 100%;transform:translate(-50%, 0);opacity: 0;background-color: #fff;transition:all 300ms ease;}
        span{position: relative;z-index: 1;}
        &:hover{color:#b71a1c;
            &:before{width: 90%;opacity: 1;}
        }
        &:active{color:#b71a1c;
            &:before{width: 101%;opacity: 1;}
        }

        &.button-red{border-color:#a1080a;color:#000;
            &:before{background-color:#a1080a;}
            &:hover{color:#fff;}
            &:active{color:#fff;}
        }
    }

/* /button */

/* adaptive-classes */

    .show-mobile-horizontal, .show-mobile-vertical, .show-tablet-horizontal, .show-tablet-vertical{display: none;}

/* /adaptive-classes */

/* header */

    .header{padding: 7px 0 5px 0;position: fixed;top:0;left:0;background-color: #fff;width: 100%;border-bottom: 1px solid rgba(204, 204, 204, .2);z-index: 110;
        &:after{content: '';display: block;position: absolute;width: 100%;height: 76px;top:100%;left:0;background-image:url(../images/header-shadow.png);pointer-events:none;background-repeat: no-repeat;background-position: center top;}

        .header-wrap{display: flex;justify-content: space-between;align-items: center;min-width: 290px;position: relative;}

        .header-backcall-wrap{text-align: center;}

        .header-nav{

            .sendwich{text-align: center;padding-top: 10px;
                .sendwich-wrap{width: 26px;height: 26px;position: relative;padding-top: 11px;display: inline-block;cursor:pointer;
                    &:before, &:after{content: '';width: 26px;height: 4px;position:absolute;left:0;background-color:#000;transition:all 300ms ease;}
                    span{width: 26px;height: 4px;display: block;background-color:#000;transition:all 300ms ease;}
                    &:before{top:0;transform-origin:0 0;}
                    &:after{bottom:0;transform-origin:0 100%;}

                    &.active, &:hover{
                        &:before, &:after, span{background-color:#b71a1c;}
                    }
                    &.active{
                        span{opacity: 0;}
                        &:before{left:2px;top:2px;transform:rotate(45deg) translateZ(0px);}
                        &:after{left:2px;bottom:2px;transform:rotate(-45deg) translateZ(0px);}
                    }

                }
            }

            .header-nav-main{padding-top: 10px;
                ul{list-style:none;padding:0;margin: 0;display: flex;justify-content: flex-start;align-items: center;
                    li{
                        a{display: inline-block;position: relative;text-decoration: none;color:#000;font-size: 16px;font-family: 'Room', sans-serif;font-weight: 300;padding-left:7px;margin-right: 26px;transition:color 300ms ease;
                            &:before{content: '';display: block;position:absolute;left: 0;top:0;width: 3px;height: 100%;background-color: #b71a1c;}
                            &:hover, &.active{color:#b71a1c;}
                        }
                        &:last-child{
                            a{margin-right: 0;}
                        }
                    }
                }
            }
        }

        .header-telefones{
            .header-telefones-wrap{text-align: right;
                p{margin: 0 0 5px 0;
                    a{text-decoration: none;color:#000;font-size: 28px;transition:color 300ms ease;
                        &:hover{color:#b71a1c;}
                    }
                }
            }
        }

    }

/* /header */

/* top-section */

    .top-block{padding-top:109px;background-image:url(../images/top-block-bg.jpg);background-repeat: no-repeat;background-position: center bottom;overflow: hidden;

        .title{text-align: center;font-size: 82px;color:#000;font-family: "Room", sans-serif;font-weight: 700;margin: 0 -20px -1px -20px;}

        .top-block-descript{text-align: center;color:#000;font-size: 46px;font-family: "Room", sans-serif;margin-bottom: 26px;line-height: 1;
            p{margin: 0;}
            span{color:#b71a1c;font-weight: 700;font-size: 59px;}
        }

        .top-block-info{font-weight: 700;color:#000;font-size: 51px;font-family: "Room", sans-serif;text-align: center;}

        .top-block-main{position: relative;

            .top-block-params{position: absolute;right: 50px;bottom: 188px;text-align: center;font-weight: 300;color:#000;font-size: 20px;z-index: 1;
                .top-block-params-title{font-size: 22px;margin-bottom: 18px;}
                .top-block-params-main{margin-bottom: 10px;text-align: right;
                    p{margin: 0 0 5px 0;background-color:#fff;line-height: 1.65;border-radius:5px;box-shadow: 0 0 6px 0 rgba(0, 1, 1, .18);padding: 0 7px;font-weight: 400;
                        &:last-child{margin-bottom: 0;}
                        span{font-weight: 300;}
                    }
                }
                .top-block-params-footer{font-size: 15px;font-weight: 400;}
            }

            .top-block-img{position: relative;margin-bottom:-120px;margin-top:-100px;}
        }

    }

/* /top-section */

/* top-block-form */

    .top-block-form{position: relative;z-index: 1;min-height: 393px;background-image:url(../images/red-background.jpg);background-repeat: repeat-x;background-position: left top;background-color: #b51618;padding-bottom: 155px;

        .top-block-form-wrap{padding:25px 0 0 0;}

        .title{text-align: center;margin: 0 0 20px 0;padding:0;font-size: 74px;font-family: "Room", sans-serif;color:#fff;opacity: 0;transform:scale(0);transition:all 300ms ease;
            &.animated{opacity: 1;transform:scale(1);}
        }
        .top-block-form-telefone{text-align: center;font-size: 48px;color:#fff;margin-bottom: 15px;}
        .top-block-form-descript{text-align: center;font-size: 28px;color:#fff;margin-bottom: 20px;}

        .top-block-form-main{display: flex;justify-content: center;max-width: 722px;width: 100%;margin: 0 auto;
            .form-row{margin: 0 11px;width: 50%;
                input{width: 100%;height: 60px;line-height: 60px;border:2px solid #fff;background-color:transparent;color:#fff;font-size: 18px;padding:0 15px;position:relative;transition:background-color 300ms ease, color 300ms ease, border-color 300ms ease;
                    &::-webkit-input-placeholder{color:#fff;font-family:"GothamPro", arial,sans-serif;font-size: 18px;transition:all 300ms ease;}
                    &:-moz-placeholder{color:#fff;opacity:1;font-family:"GothamPro", arial,sans-serif;font-size: 18px;transition:all 300ms ease;}
                    &::-moz-placeholder{color:#fff;opacity:1;font-family:"GothamPro", arial,sans-serif;font-size: 18px;transition:all 300ms ease;}
                    &:-ms-input-placeholder{color:#fff;font-family:"GothamPro", arial,sans-serif;font-size: 18px;transition:all 300ms ease;}
                    &.error{background-color: #fff;border-color:red;
                        &::-webkit-input-placeholder{color:red;}
                        &:-moz-placeholder{color:red;}
                        &::-moz-placeholder{color:red;}
                        &:-ms-input-placeholder{color:red;}
                    }
                }
            }
        }



    }

/* /top-block-form */

/* top-stol-transorm */

    .top-stol-transform{position: relative;z-index: 2;padding:82px 0;

    }

/* /top-stol-transform */

/* success-modal */

    .md-modal{
        &.success-modal{max-width: 610px;width:100%;

            .md-content{height: 265px;display: flex;flex-direction: column;align-items: center;justify-content: center;background-image:url(../images/white-crocodile-bg.jpg);border-radius: 0;color:#000;
                &:before{content:'';display: block;position: absolute;top:-3px;right:-3px;bottom:-3px;left:-3px;border:1px solid #fff;}
            }

            h3{padding: 0;background:transparent;font-size: 62px;margin-bottom: 15px;}
            p{font-size: 47px;margin: 0;text-align: center;}

            .close-button{position: absolute;width: 30px;height: 30px;left: calc(100% + 5px);top:-3px;border:none;background:none;margin:0;padding: 0;
                &:before, &:after{content:'';width: 32px;height: 2px;background-color: #fff;position: absolute;transform-origin:50% 50%;left:0;top:calc(50% - 1px);transition:background-color 300ms ease;}
                &:before{transform:rotate(45deg);}
                &:after{transform:rotate(-45deg);}

                &:hover{
                    &:before, &:after{background-color:#ae1517;}
                }

            }

        }

        &~.md-overlay{background-color: rgba(0, 0, 0, .5);}
    }

/* /success-modal */