@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){
    .how-get-stol {padding-bottom: 20px;
        .convert-rov { display: block;
            .item{margin: 0 auto; padding-bottom: 25px;}
            .or-abs{display: block; text-align: center;}
            .or-abs { font-size: 36px; }
        }
        .title-text { padding-bottom: 30px;
            h2{font-size: 56px;}
        }
    }

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 360px){
    .how-get-stol .convert-rov .item{width: 100%;}
}