/*plagin style*/
.threesixty {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  .threesixty_images {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: auto;
      &.previous-image{
        visibility: hidden;
        /*
           Do not put here any other styles.
           It causes massive recalc / repaints and image flickering,
           especially on Firefox.
        */
      }
      &.current-image{
        visibility: visible;
        /*
           Do not put here any other styles.
           It causes massive recalc / repaints and image flickering,
           especially on Firefox.
        */
      }
    }
  }
  .spinner {
    width: 60px;
    display: block;
    margin: 0 auto;
    height: 30px;
    background: #333;
    background: rgba(0, 0, 0, 0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    span {
      font-family: Arial, "MS Trebuchet", sans-serif;
      font-size: 12px;
      font-weight: bolder;
      color: #FFF;
      text-align: center;
      line-height: 30px;
      display: block;
    }
  }
  .nav_bar {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 11;
    a {
      display: block;
      width: 32px;
      height: 32px;
      float: left;
      background: url(/assets/sprites.png) no-repeat;
      text-indent: -99999px;
    }
    a.nav_bar_play {
      background-position: 0 0 !important;
    }
    a.nav_bar_previous {
      background-position: 0 -73px !important;
    }
    a.nav_bar_stop {
      background-position: 0 -37px !important;
    }
    a.nav_bar_next {
      background-position: 0 -104px !important;
    }
  }
}


// casablanka
.casablanka{background: url(../images/bg-rectangle.jpg);min-height: 1400px;
    .casablanka-title{background-color: rgba(255,255,255, .58);box-shadow: 0 4px 11px 6px rgba(0, 0, 0, 0.11);margin-bottom: 38px;
        .mbox{min-height: 130px;display: flex;align-items:center;justify-content:center;font-family: 'Room';
            &:after{display: none;}
            h2{margin:0;font-size: 57px;font-weight: 300;}
        }
    }
    .casablanka-3d{max-width: 1115px;margin:0 auto;border:6px solid rgba(255,255,255, .65);box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.25);cursor: url(../images/casablanka-3d-cursor.png), auto;
        .casablanka-3d-title{position: absolute;top: 30px;left: 0;width: 100%;text-align: center;z-index: 10;font-size: 38px;}
        .casablanka-3d-text{background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 54%,rgba(255,255,255,0) 100%);display: flex;align-items:center;justify-content:center;position: absolute;bottom:0;left: 0;width: 100%;z-index: 10;min-height: 69px;font-size: 21px;
            span{margin-right: 40px;}
        }
    }
    .casablanka-text{padding-top: 35px;margin-bottom: 50px;
        p{margin:0;line-height: 33px;margin-bottom: 10px;}
        .casablanka-text-more{
            .casablanka-text-button{padding-top: 20px;
                .button-transparent{margin:0 auto;display: block;border-color: #a1080a;color: #000;
                    &:hover{color: #fff;}
                    &:before{background-color: #a1080a;}
                }
            }
            .casablanka-text-hidden{display: none;}
        }
    }
}

// big form
  .big_form{background-image: url(../images/big_form_bg.jpg);background-position: center top;background-repeat: no-repeat;min-height: 1000px;background-size: cover;padding-top: 55px;
      .big_form_top{display: flex;
          .aside_left{min-height: 800px;flex:2;padding-right: 40px;}
          .aside_right{flex:1.1;}
      }


      // left side

        .big_form_title{position: relative;font-size: 63px;color: white;text-align: center;font-weight: 400;margin-left: -85px;min-height: 162px;display: flex;align-items:center;justify-content:center;
            &:after{background-color: #b71a1c;height: 3px;width: 5000px;right: 42px;content: '';position: absolute;top: 0;}
            &:before{background-color: #b71a1c;height: 3px;width: 5000px;right: 42px;content: '';position: absolute;bottom: 0;}
            span{font-size: 79px;line-height: 67px;}
            h2{font-size: 63px;color: white;line-height: 49px;font-weight: 400;margin:0;padding: 10px 0px;
                &:after{background-color: #b71a1c;height: 3px;width: 5000px;right: 0px;content: '';position: absolute;top: 5px;}
                &:before{background-color: #b71a1c;height: 3px;width: 5000px;right: 0px;content: '';position: absolute;bottom: 5px;}
            }
        }
        .big_form_image{padding-top: 70px;margin-bottom: 20px;
            img{display: block;margin:0 auto;border-radius: 10px;overflow: hidden;}
        }

      // /left side

      // right side
        .aside_right{
            .item{background-color: rgba(255,255,255, .08);border:2px solid rgba(255,255,255, .25);border-radius: 25px;text-align: center;    box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.24);padding: 12px 24px 2px;margin-bottom: 18px;
                .item_title{color: white;font-size: 25px;font-weight: 300;margin-bottom: 10px;}
                .item_wrap{display: flex;justify-content:center;flex-wrap: wrap;
                    &.text_input{flex-direction:column;
                        label{width: auto;position: relative;flex-direction: row;justify-content:flex-start;padding-left: 17%;}
                        .radio-button-size{width: 16px;height: 16px;border-radius: 50%;background-color: #b71a1c;display: inline-block;position: relative;margin-right: 10px;
                          &:after{position: absolute;content: '';height: 7px;width: 7px;border-radius: 50%;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%, -50%);opacity: 0;}
                        }
                        input{position: absolute;left: 0;top:0;display: block;height: 0;width: 0;opacity:0;background-color: transparent;color:transparent;font-size: 0;
                         &:checked + .radio-button-size:after{opacity: 1;}
                        }
                        b{padding-top: 0;}

                    }
                    label{width: 72px;display: flex;flex-direction:column;justify-content:flex-start;cursor: pointer;position: relative;margin:0 6px 9px;align-items:center;
                        &:hover{
                            .item_big_image{display: block;}
                        }
                    }
                    input{position: absolute;top: 999px;left: 999px;z-index: -9999;
                        &:checked + .item_img img {border-color:#fff;background-color: #fff;}
                    }
                    b{color: white;font-weight: 300;padding-top: 10px;}
                    .item_img{height: 66px;width: 66px;position: relative;display:inline-block;
                        img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);min-width: 100%;border:3px solid #a4928e;border-radius: 20px;}
                    }
                    .item_big_image{position: absolute;left: 50%;transform: translateX(-50%);display: none;bottom:calc(100% + 16px);
                        img{max-width: none;border:3px solid white;border-radius: 5px;}
                        &:after{content: '';position: absolute;left: 50%;bottom:-10px;transform: translateX(-50%);border-top: 11px solid white;border-right: 7px solid transparent;border-left: 7px solid transparent;}
                    }
                }
            }
        }
      // /right side

      // big_form_bottom
      .big_form_bottom{min-height: 200px;
        .big_form_title{font-size: 41px;margin:0;min-height: 100px;
          &:after,&:before{display: none;}
          h3{margin:0;font-size: 41px;font-weight: 300;}
        }
        .item_wrap{display: flex;flex-wrap: wrap;
          &.show_more{
            .show_more_wrap{display: none;}
            .show_more-row{flex:1;text-align: right;}
            .show_more_button{font-size: 20px;color: white;display: inline-block;position: relative;margin-bottom: 10px;padding-bottom: 5px;cursor: pointer;margin-top: 50px;
              &:hover{
                &:after{opacity: 0;}
              }
              &:after{position: absolute;border-bottom: 2px dotted #fff;content: '';right: 0;left: 0;bottom:0;width: 100%;}
            }
          }
          .item_img{margin-bottom: 15px;flex:1;display: flex;align-items:center;justify-content:center;
            img{border-radius: 8px;}
          }
          label{display: flex;flex-direction:column;justify-content:flex-start;cursor: pointer;position: relative;text-align: center;margin: 0 11px 15px;}
          .radio-button-size{width: 16px;height: 16px;border-radius: 50%;background-color: #b71a1c;display: inline-block;position: relative;margin-right: 10px;
            &:after{position: absolute;content: '';height: 7px;width: 7px;border-radius: 50%;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%, -50%);opacity: 0;}
          }
          input{position: absolute;left: 0;top:0;display: block;height: 0;width: 0;opacity:0;background-color: transparent;color:transparent;font-size: 0;
           &:checked + .radio-button-size:after{opacity: 1;}
          }
          b{color: white;font-weight: 300;}
        }
      }
  }

// /big form