@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1170px){

    /*header */

        .header{

            .header-nav-main{
                ul{
                    li{
                        a{margin-right: 20px;}
                    }
                }
            }

            .header-telefones{
                .header-telefones-wrap{
                    p{
                        a{font-size: 20px;}
                    }
                }
            }

        }

    /* /header */

    /* top-block */

        .top-block{

            .title{font-size: 52px;}
            .top-block-descript{font-size: 36px;margin-bottom: 16px;
                span{font-size: 45px;}
            }
            .top-block-info{font-size: 41px;}

        }

    /* /top-block */

}
@media screen and (max-width: 1024px){

    /* adaptive-classes */

        .show-tablet-horizontal{display: block;}
        .hide-tablet-horizontal{display: none;}

    /* /adaptive-classes */

    /* top-block */

        .top-block{

            .top-block-main{
                .top-block-params{position: static;padding:20px 0;
                    .top-block-params-main{display: flex;justify-content: space-around;align-items: flex-start;
                        p{margin: 0 5px;}
                    }
                }
            }

        }

    /* /top-block */

    /* top-stol-transform */

        .top-stol-transform{
            .top-stol-transformer-wrap{
                .top-stol-transformer-descriptions{
                    .top-stol-transformer-descript{max-width: 280px;
                        p{font-size: 20px;
                            span{font-size: 26px;}
                        }
                        &:nth-child(1){
                            &:before{transform:rotate(130deg);}
                            &:after{left:50px;bottom:-103px;}
                        }
                        &:nth-child(2){
                            &:before{transform:rotate(-105deg);}
                            &:after{top:-134px;left:96px;}
                        }
                        &:nth-child(3){left:calc(55.5% - 50px);
                            &:after{left:-38px;}
                        }
                        &:nth-child(4){
                            &:before{transform:rotate(-58deg);}
                            &:after{left:192px;top:-110px;}
                        }
                        &:nth-child(5){
                            &:before{transform:rotate(70deg);}
                            &:after{left:182px;bottom:-152px;}
                        }

                        &.animated{
                            &:nth-child(3){left:55.5%;}
                        }

                    }
                }
            }
        }

    /* /top-stol-transform */

}
@media screen and (max-width: 992px){

    /* adaptive-classes */

        .show-tablet-vertical{display: block;}
        .hide-tablet-vertical{display: none;}

    /* /adaptive-classes */

    /* header */

        .header{
            .header-nav{
                .header-nav-main{position:absolute;left:-15px;top:calc(100% + 5px);width: calc(100% + 30px);background-color: #fff;padding: 10px 5px;border-width: 1px 0; border-style:solid; border-color:rgba(204, 204, 204, .5);
                    ul{justify-content: space-around;}
                }
            }
        }

    /* /header */

    /* top-block-form */

        .top-block-form{
            .title{font-size: 54px;}
            .top-block-form-telefone{font-size: 38px;}
            .top-block-form-descript{font-size: 22px;}
        }

    /* /top-block-form */

    /* top-stol-transform */

        .top-stol-transform{
            .top-stol-transformer-title{font-size: 42px;}
            .title{font-size: 60px;}
        }

    /* /top-stol-transform */

}
@media screen and (max-width: 850px){

    /* top-stol-transform */

        .top-stol-transform{
            .top-stol-transformer-wrap{
                .top-stol-transformer-descriptions{
                    .top-stol-transformer-descript{
                        &:nth-child(3){left:calc(57.1% - 50px);}
                        &:nth-child(4){left: -30px;bottom:108px;}
                        &.animated{
                            &:nth-child(3){left:57.1%;}
                            &:nth-child(4){left:-80px;}
                        }
                    }
                }
            }
        }

    /* /top-stol-transform */

}
@media screen and (max-width: 767px){

    /* button */

        .button{font-size: 14px;line-height: 35px;height: 35px;}

    /* /button */

    /* adaptive-classes */

        .show-mobile-horizontal{display: block;}
        .hide-mobile-horizontal{display: none;}

    /* /adaptive-classes */

    /* header */

        .header{

            .header-logo{
                img{max-width: 155px;}
            }

            .header-nav{
                .sendwich{padding-top: 0;}
            }

        }

    /* /header */

    /* top-block */

        .top-block{

            .title{font-size: 36px;}
            .top-block-descript{font-size: 24px;
                span{font-size:30px;}
            }
            .top-block-info{font-size: 30px;}

            .top-block-main{
                .top-block-params{font-size: 16px;
                    .top-block-params-title{font-size: 18px;}
                    .top-block-params-main{flex-wrap:wrap;
                        p{margin: 0 5px 10px 5px;}
                    }
                    .top-block-params-footer{font-size: 12px;}
                }
                .top-block-img{margin-top: -60px;margin-bottom: -70px;}
            }

        }

    /* /top-block */

    /* top-block-form */

        .top-block-form{
            .title{font-size: 38px;}
            .top-block-form-telefone{font-size: 30px;}
            .top-block-form-descript{font-size: 18px;}
        }

    /* /top-block-form */

    /* top-stol-transform */

        .top-stol-transform{
            .top-stol-transformer-wrap{max-width: 480px;width: 100%;margin:0 auto;
                .top-stol-transformer-img{padding:100px 0;}
                .top-stol-transformer-descriptions{
                    .top-stol-transformer-descript{max-width: 165px;
                        p{font-size: 15px;padding:7px 5px;
                            span{font-size: 17px;}
                        }

                        &:nth-child(1){left:calc(40% - 50px);top:60px;
                            &:before{transform:rotate(40deg);}
                            &:after{left:149px;bottom: -72px;}
                        }
                        &:nth-child(2){top:4%;
                            &:before{bottom:auto;top:calc(100% + 1px);transform:rotate(110deg);}
                            &:after{top:auto;bottom:-75px;left:48px}
                        }
                        &:nth-child(3){left:calc(72% - 50px);bottom:85px;
                            &:before{left:25%;transform:rotate(-65deg);}
                            &:after{left:82px;top:-115px;}
                        }
                        &:nth-child(4){bottom:35px;left:calc(15% - 50px);
                            &:before{left:15%;transform:rotate(-80deg);}
                            &:after{left:44px;top:-160px;}
                        }
                        &:nth-child(5){left:calc(20% - 50px);top:-3px;
                            &:before{left:15%;transform:rotate(60deg);}
                            &:after{left:106px;bottom:-160px;}
                        }

                        &.animated{
                            &:nth-child(1){left:40%;
                                &:before{width: 95px;}
                            }
                            &:nth-child(2){
                                &:before{width: 65px;}
                            }
                            &:nth-child(3){left:72%;
                                &:before{width: 115px;}
                            }
                            &:nth-child(4){left:15%;
                                &:before{width: 150px;}
                            }
                            &:nth-child(5){left:20%;
                                &:before{width: 180px;}
                            }
                        }

                    }
                }
            }
            .instruction-link{padding-top: 34px;}
        }

    /* /top-stol-transform */

    /* success-modal */

        .md-modal{
            &.success-modal{max-width: 460px;

                h3{font-size: 42px;}
                p{font-size: 32px;}

                .close-button{left: auto;top:auto;right: 0;bottom:calc(100% + 5px);}
            }
        }

    /* /success-modal */

}
@media screen and (max-width: 666px){

    /* header */

        .header{
            .header-nav{
                .header-nav-main ul{display: block;text-align: center;
                    li{margin-bottom: 10px;
                        a{margin-right: 0;padding-left:0;line-height: 1.25;
                            &:before{height: 2px;width: 20px;top:100%;left: calc(50% - 10px);}
                        }
                        &:last-child{margin-bottom: 0;}
                    }
                }
            }
        }

    /* /header */

    /* top-block-form */

        .top-block-form{
            .top-block-form-main{display: block;
                .form-row{width: 100%;margin:0 0 20px 0;
                    &.submit-row{
                        .button-transparent{max-width: none;}
                    }
                }
            }
        }

    /* /top-block-form */

}
@media screen and (max-width: 479px){

    /* adaptive-classes */

        .show-mobile-vertical{display: block;}
        .hide-mobile-vertical{display: none;}

    /* /adaptive-classes */

    /* header */

        .header{
            .header-wrap{display: block;}

            .header-logo{width: calc(100% - 50px);
                img{max-width: 100%;}
            }

            .header-nav{
                .sendwich{position: absolute;right:15px;top:25px;}
            }

            .header-telefones{padding-top: 10px;
                .header-telefones-wrap{text-align: center;
                    p{
                        a{font-size: 18px;}
                    }
                }
            }

        }

    /* /header */

    /* top-block */

        .top-block{padding-top: 190px;
            .top-block-main{
                .top-block-img{margin-bottom: -20px;margin-top: -20px;}
            }
        }

    /* /top-block */

    /* top-stol-transform */

        .top-stol-transform{
            .top-stol-transformer-title{font-size: 28px;}
            .title{font-size: 36px;}
        }

    /* /top-stol-transform */

    /* success-modal */

        .md-modal{
            &.success-modal{max-width: 310px;

                .md-content{height: 205px;}

                h3{font-size: 28px;}
                p{font-size: 20px;}

                .close-button{left: auto;top:auto;right: 0;bottom:calc(100% + 5px);}
            }
        }

    /* /success-modal */

}
@media screen and (max-width: 320px){

}