<section class="big_form" id="big_form">
    <div class="mbox">
        <div class="big_form_wrap">
            <div class="big_form_top">
                <div class="aside aside_left">
                    <div class="big_form_title">
                        <h2>Соберите свой <span>идеальный вариант</span> </h2>
                    </div>
                    <div class="big_form_image">
                        <img src="images/big_form_image.jpg" alt="">
                    </div>
                </div>
                <div class="aside aside_right"></div>
            </div>
            <div class="big_form_bottom">

            </div>
        </div>
    </div>
</section>