<section class="big_form" id="big_form">
    <div class="mbox">
        <div class="big_form_wrap">
            <form class="big_form_form">
                <div class="big_form_top">
                    <div class="aside aside_left">
                        <div class="big_form_title">
                            <h2>Соберите свой <span>идеальный вариант</span> </h2>
                        </div>
                        <div class="big_form_image">
                            <img src="images/big_form_image.jpg" alt="">
                        </div>
                    </div>
                    <div class="aside aside_right">
                        <div class="item">
                            <div class="item_title">
                                Искуственная кожа
                            </div>
                            <div class="item_wrap">
                                <label>
                                    <input type="radio" value="Искуственная кожа #2" name="leatherette" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_1.jpg" alt="" />
                                    </span>
                                    <b>№2</b>
                                    <span class="item_big_image">
                                        <img src="images/leatherette-1.jpg" alt="" />
                                    </span>
                                </label>
                                <label>
                                    <input type="radio" value="Искуственная кожа #10" name="leatherette" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_2.jpg" alt="" />
                                    </span>
                                    <b>№10</b>
                                    <span class="item_big_image">
                                        <img src="images/leatherette-2.jpg" alt="" />
                                    </span>
                                </label>
                                <label>
                                    <input type="radio" value="Искуственная кожа #6" name="leatherette" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_3.jpg" alt="" />
                                    </span>
                                    <b>№6</b>
                                    <span class="item_big_image">
                                        <img src="images/leatherette-3.jpg" alt="" />
                                    </span>
                                </label>
                                <label>
                                    <input type="radio" value="Искуственная кожа #4" name="leatherette" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_4.jpg" alt="" />
                                    </span>
                                    <b>№4</b>
                                    <span class="item_big_image">
                                        <img src="images/leatherette-4.jpg" alt="" />
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item_title">
                                ДСП
                            </div>
                            <div class="item_wrap">
                                <label>
                                    <input type="radio" value="Дуб шамони" name="dsp" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_5.jpg" alt="" />
                                    </span>
                                    <b>Дуб шамони</b>
                                    <span class="item_big_image">
                                        <img src="images/dsp-1.jpg" alt="" />
                                    </span>
                                </label>
                                <label>
                                    <input type="radio" value="Платина" name="dsp" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_6.jpg" alt="" />
                                    </span>
                                    <b>Платина</b>
                                    <span class="item_big_image">
                                        <img src="images/dsp-2.jpg" alt="" />
                                    </span>
                                </label>
                                <label>
                                    <input type="radio" value="Венге" name="dsp" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_7.jpg" alt="" />
                                    </span>
                                    <b>Венге</b>
                                    <span class="item_big_image">
                                        <img src="images/dsp-3.jpg" alt="" />
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item_title">
                                Ножки
                            </div>
                            <div class="item_wrap">
                                <label>
                                    <input type="radio" value="Алюм" name="nozki" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_8.jpg" alt="" />
                                    </span>
                                    <b>Алюм</b>
                                    <span class="item_big_image">
                                        <img src="images/nozki-1.jpg" alt="" />
                                    </span>
                                </label>
                                <label>
                                    <input type="radio" value=" Белый глянец" name="nozki" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_10.jpg" alt="" />
                                    </span>
                                    <b> Белый глянец</b>
                                    <span class="item_big_image">
                                        <img src="images/nozki-2.jpg" alt="" />
                                    </span>
                                </label>
                                <label>
                                    <input type="radio" value="Бронза" name="nozki" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_11.jpg" alt="" />
                                    </span>
                                    <b> Бронза</b>
                                    <span class="item_big_image">
                                        <img src="images/nozki-3.jpg" alt="" />
                                    </span>
                                </label>
                                <label>
                                    <input type="radio" value="Медь" name="nozki" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_12.jpg" alt="" />
                                    </span>
                                    <b>Медь</b>
                                    <span class="item_big_image">
                                        <img src="images/nozki-4.jpg" alt="" />
                                    </span>
                                </label>
                                <label>
                                    <input type="radio" value="Серебро" name="nozki" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_13.jpg" alt="" />
                                    </span>
                                    <b>Серебро</b>
                                    <span class="item_big_image">
                                        <img src="images/nozki-5.jpg" alt="" />
                                    </span>
                                </label>
                                <label>
                                    <input type="radio" value="Черный глянец" name="nozki" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_14.jpg" alt="" />
                                    </span>
                                    <b>Черный глянец</b>
                                    <span class="item_big_image">
                                        <img src="images/nozki-6.jpg" alt="" />
                                    </span>
                                </label>
                                <label>
                                    <input type="radio" value="Золото" name="nozki" />
                                    <span class="item_img">
                                        <img src="images/aside_right_item_img_15.jpg" alt="" />
                                    </span>
                                    <b>Золото</b>
                                    <span class="item_big_image">
                                        <img src="images/nozki-7.jpg" alt="" />
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item_title">
                                Размер
                            </div>
                            <div class="item_wrap text_input">
                                <label>
                                    <input type="radio" value="1000/1379х600 мм" name="size" checked="checked" required="required"/>
                                    <span class="radio-button-size"></span>
                                    <b> 1000/1379х600 мм</b>
                                </label>
                                <label>
                                    <input type="radio" value="1100/1620х700 мм" name="size" required="required" />
                                    <span class="radio-button-size"></span>
                                    <b> 1100/1620х700 мм </b>
                                </label>
                                <label>
                                    <input type="radio" value="1200/1720х800 мм" name="size" required="required" />
                                    <span class="radio-button-size"></span>
                                    <b> 1200/1720х800 мм </b>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="big_form_bottom">
                    <div class="big_form_title">
                        <h3>Подходящие стулья</h5>
                    </div>
                    <div class="item">
                        <div class="item_wrap">
                            <label>
                                <span class="item_img">
                                    <img src="images/big_form_bottom_img_1.jpg" alt="" />
                                </span>
                                <span>
                                    <input type="radio" value="Фант алюм" name="chair" />
                                    <span class="radio-button-size"></span>
                                    <b>Фант алюм</b>
                                </span>
                            </label>
                            <label>
                                <span class="item_img">
                                    <img src="images/big_form_bottom_img_2.jpg" alt="" />
                                </span>
                                <span>
                                    <input type="radio" value="Дельта" name="chair" />
                                    <span class="radio-button-size"></span>
                                    <b>Дельта</b>
                                </span>
                            </label>
                            <label>
                                <span class="item_img">
                                    <img src="images/big_form_bottom_img_3.jpg" alt="" />
                                </span>
                                <span>
                                    <input type="radio" value="Остин" name="chair" />
                                    <span class="radio-button-size"></span>
                                    <b>Остин</b>
                                </span>
                            </label>
                            <label>
                                <span class="item_img">
                                    <img src="images/big_form_bottom_img_4.jpg" alt="" />
                                </span>
                                <span>
                                    <input type="radio" value="Дельта" name="chair" />
                                    <span class="radio-button-size"></span>
                                    <b>Дельта</b>
                                </span>
                            </label>
                            <label>
                                <span class="item_img">
                                    <img src="images/big_form_bottom_img_5.jpg" alt="" />
                                </span>
                                <span>
                                    <input type="radio" value="Тауэр" name="chair" />
                                    <span class="radio-button-size"></span>
                                    <b>Тауэр</b>
                                </span>
                            </label>
                            <label>
                                <span class="item_img">
                                    <img src="images/big_form_bottom_img_6.jpg" alt="" />
                                </span>
                                <span>
                                    <input type="radio" value="Вита" name="chair" />
                                    <span class="radio-button-size"></span>
                                    <b>Вита</b>
                                </span>
                            </label>
                        </div>
                        <div class="item_wrap show_more">
                            <div class="show_more-row">
                                <a href="#" target="_blank" class="show_more_button">
                                    посмотреть другие стулья
                                </a>
                            </div>
<!--                             <div class="show_more_wrap">
                                <label>
                                    <span class="item_img">
                                        <img src="images/big_form_bottom_img_1.jpg" alt="" />
                                    </span>
                                    <span>
                                        <input type="radio" value="Фант алюм" name="chair" />
                                        <span class="radio-button-size"></span>
                                        <b>Фант алюм</b>
                                    </span>
                                </label>
                                <label>
                                    <span class="item_img">
                                        <img src="images/big_form_bottom_img_2.jpg" alt="" />
                                    </span>
                                    <span>
                                        <input type="radio" value="Дельта" name="chair" />
                                        <span class="radio-button-size"></span>
                                        <b>Дельта</b>
                                    </span>
                                </label>
                                <label>
                                    <span class="item_img">
                                        <img src="images/big_form_bottom_img_3.jpg" alt="" />
                                    </span>
                                    <span>
                                        <input type="radio" value="Остин" name="chair" />
                                        <span class="radio-button-size"></span>
                                        <b>Остин</b>
                                    </span>
                                </label>
                                <label>
                                    <span class="item_img">
                                        <img src="images/big_form_bottom_img_4.jpg" alt="" />
                                    </span>
                                    <span>
                                        <input type="radio" value="Дельта" name="chair" />
                                        <span class="radio-button-size"></span>
                                        <b>Дельта</b>
                                    </span>
                                </label>
                                <label>
                                    <span class="item_img">
                                        <img src="images/big_form_bottom_img_5.jpg" alt="" />
                                    </span>
                                    <span>
                                        <input type="radio" value="Тауэр" name="chair" />
                                        <span class="radio-button-size"></span>
                                        <b>Тауэр</b>
                                    </span>
                                </label>
                                <label>
                                    <span class="item_img">
                                        <img src="images/big_form_bottom_img_6.jpg" alt="" />
                                    </span>
                                    <span>
                                        <input type="radio" value="Вита" name="chair" />
                                        <span class="radio-button-size"></span>
                                        <b>Вита</b>
                                    </span>
                                </label>
                                <label>
                                    <span class="item_img">
                                        <img src="images/big_form_bottom_img_4.jpg" alt="" />
                                    </span>
                                    <span>
                                        <input type="radio" value="Дельта" name="chair" />
                                        <span class="radio-button-size"></span>
                                        <b>Дельта</b>
                                    </span>
                                </label>
                                <label>
                                    <span class="item_img">
                                        <img src="images/big_form_bottom_img_5.jpg" alt="" />
                                    </span>
                                    <span>
                                        <input type="radio" value="Тауэр" name="chair" />
                                        <span class="radio-button-size"></span>
                                        <b>Тауэр</b>
                                    </span>
                                </label>
                                <label>
                                    <span class="item_img">
                                        <img src="images/big_form_bottom_img_6.jpg" alt="" />
                                    </span>
                                    <span>
                                        <input type="radio" value="Вита" name="chair" />
                                        <span class="radio-button-size"></span>
                                        <b>Вита</b>
                                    </span>
                                </label>
                            </div> -->
                        </div>
                    </div>
                    <div class="bottom_input">
                        <div class="bottom_input_wrap">
                            <input type="text" placeholder="телефон" required="required" class="tel-mask" name="contact_tel">
                            <button type="submit" class="contact-submit">
                                <span>заказать</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>