<section class="casablanka" id="casablanka">
    <div class="casablanka-title">
        <div class="mbox">
            <h2>Стол Касабланка с разных сторон</h2>
        </div>
    </div>
    <div class="mbox">
        <div class="casablanka-3d">
            <div class="casablanka-3d-wrap threesixty" id="casablanka-3d">
                <div class="spinner">
                    <span>0%</span>
                </div>
                <ol class="threesixty_images"></ol>
            </div>
        </div>
    </div>
</section>