<section class="casablanka" id="casablanka">
    <div class="casablanka-title">
        <div class="mbox">
            <h2>Стол Касабланка с разных сторон</h2>
        </div>
    </div>
    <div class="mbox">
        <div class="casablanka-3d">
            <div class="casablanka-3d-wrap threesixty" id="casablanka-3d">
                <div class="casablanka-3d-title">
                    Механизм "Бабочка"
                </div>
                <div class="casablanka-3d-text">
                    <span>Двигайте изображение мышкой</span><img src="images/casablanka-3d-cursor.png" alt="">
                </div>
                <div class="spinner">
                    <span>0%</span>
                </div>
                <ol class="threesixty_images"></ol>
            </div>
        </div>
        <div class="casablanka-text">
            <div class="casablanka-text-wrap">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
            </div>
            <div class="casablanka-text-more">
                <div class="casablanka-text-button">
                    <button class="button-transparent">
                        <span>развернуть</span>
                    </button>
                </div>
                <div class="casablanka-text-hidden">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum est in qui quisquam maxime. Laborum placeat iusto modi, odio neque?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, autem optio perspiciatis aspernatur est omnis itaque, quae incidunt soluta tempora maiores eveniet. Obcaecati tempore ipsum veniam iure impedit, aspernatur repellat aliquid debitis pariatur animi ratione earum sed, inventore ab! Voluptas voluptatem molestias expedita, provident consectetur quisquam enim itaque excepturi necessitatibus, officiis minima sunt! Possimus praesentium, ipsam suscipit iusto quibusdam optio, autem deleniti illo animi vel deserunt repellat voluptatem magni soluta, molestias eius cupiditate laborum, at! Provident ullam debitis aspernatur exercitationem error tenetur nostrum, ex ducimus illum minima. Rerum necessitatibus iusto delectus temporibus voluptas molestiae, vel nostrum fugiat, beatae enim, nesciunt.</p>
                </div>
            </div>
        </div>
    </div>
</section>