<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">

    <div class="contein">
        <div class="mbox">
            <div class="con">
                <div class="opis">
                    ООО "САВ-лайн групп"Юр.адрес: 220114, <br/> г. Минск пр-т Независимости 157, к. 147 а-1 <br/> Свидетельство о государственной регистрации № 191124405 <br/> от  23.09.2009, выдано главным управлением юстиции <br/> Минского городского исполнительного комитета. <br/> Интернет-магазин зарегистрирован 22.01.2015, <br/> регистрационный номер в торговом реестре № 151503 
                </div>
                <div class="dillers">
                    <a href="callto:+375298888888">+375 29 888 88 88</a>
                    <a href="callto:+375298888888">+375 29 888 88 88</a>
                    <button class='special-olimpiad'>
                        <span>приглашаем дилеров</span>
                    </button>
                </div>
                <div class="logo">
                    <p>Создание сайта</p>
                    <a href="#">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->
    


<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script>

    var ajaxurl = 'ajax.php';

</script>

<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>


<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/css-filters-polyfill.js" ></script>
<script type="text/javascript" src="js/plagins/cssParser.js" ></script>
<script type="text/javascript" src="js/plagins/modernizr.custom.js" ></script>
<script type="text/javascript" src="js/plagins/classie.js" ></script>
<script type="text/javascript" src="js/plagins/modalEffects.js" ></script>
<script type="text/javascript" src="js/plagins/threesixty.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
