<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">

</footer>
<!-- FOOTER -->

<div class="md-modal more-succ md-effect-10" id="modal-10">
    <div class="md-content pop-succ">
        <div class="xlose-btn"></div>
         <form action="ajax.php" name="" class="contact-form">
            <div class="contact-form-title">
                <h5>Закажите <br/>  обратный звонок</h5>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" placeholder="имя">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="телефон" class="tel-mask">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row-submit cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>заказать звонок</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script>

    var ajaxurl = 'ajax.php';

</script>

<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>


<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/css-filters-polyfill.js" ></script>
<script type="text/javascript" src="js/plagins/cssParser.js" ></script>
<script type="text/javascript" src="js/plagins/modernizr.custom.js" ></script>
<script type="text/javascript" src="js/plagins/classie.js" ></script>
<script type="text/javascript" src="js/plagins/modalEffects.js" ></script>
<script type="text/javascript" src="js/plagins/threesixty.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
