<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">

    <div class="contein">
        <div class="mbox">
            <div class="con">
                <div class="opis">
                    ООО "САВ-лайн групп"Юр.адрес: 220114, <br/> г. Минск пр-т Независимости 157, к. 147 а-1 <br/> Свидетельство о государственной регистрации № 191124405 <br/> от  23.09.2009, выдано главным управлением юстиции <br/> Минского городского исполнительного комитета. <br/> Интернет-магазин зарегистрирован 22.01.2015, <br/> регистрационный номер в торговом реестре № 151503
                </div>
                <div class="dillers header-backcall-wrap">
                    <a href="callto:+375298888888">+375 29 888 88 88</a>
                    <a href="callto:+375298888888">+375 29 888 88 88</a>
                    <div class='special-olimpiad'>
                        <span>приглашаем дилеров</span>
                    </div>
                </div>
                <div class="logo">
                    <p>Создание сайта</p>
                    <a href="#">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->




