<!-- HEADER -->
<header class="header">
    <div class="mbox">
        <div class="header-wrap">

            <div class="header-logo">
                <img src="images/header-logo.png" alt="" />
            </div>

            <div class="header-center">

                <div class="header-backcall-wrap hide-mobile-horizontal">
                    <button class="button">
                        <span>заказать обратный звонок</span>
                    </button>
                </div>

                <div class="header-nav">
                    <div class="sendwich show-tablet-vertical">
                        <div class="sendwich-wrap">
                            <span></span>
                        </div>
                    </div>
                    <nav class="header-nav-main header-menu hide-tablet-vertical">
                        <ul>
                            <li>
                                <a href="#">Цена</a>
                            </li>
                            <li>
                                <a href="#">Стол</a>
                            </li>
                            <li>
                                <a href="#">Преимущества</a>
                            </li>
                            <li>
                                <a href="#">3D</a>
                            </li>
                            <li>
                                <a href="#">Подбор стола</a>
                            </li>
                            <li>
                                <a href="#">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>

            <div class="header-telefones">

                <div class="header-telefones-wrap">
                    <p>
                        <a href="callto:375297777777">+375 29 777 77 77</a>
                    </p>
                    <p>
                        <a href="callto:375297777777">+375 29 777 77 77</a>
                    </p>
                </div>

                <div class="header-backcall-wrap show-mobile-horizontal">
                    <a href="#fancybox-call" class="button fancybox">
                        <span>заказать обратный звонок</span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</header>
<!-- /HEADER -->

