<section class="how-get-stol" id="how-get-stol">
    <div class="contein">
        <div class="mbox">
            <div class="title-text">
                <h2>Как заказать стол?</h2>
            </div>
            <div class="convert-rov cfix">
                <div class="item">
                    <div class="counter">1</div>
                    <div class="titl">
                        <p> <b>Оставьте заявку </b>  <br/> и мы вам перезвоним в самое ближайшее время для обсуждения деталей</p>
                    </div>
                    <div class="after-block">
                        <form action="ajax.php" name="" class="contact-form-in-b">
                            <div class="contact-form-row cfix">
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input">
                                            <input type="text" name="contact_tel" value="" required="required" placeholder="телефон" class="tel-mask">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-row-submit cfix">
                                <div class="contact-form-item">
                                    <button type="submit" class="contact-submit">
                                        <span>Отправить</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <div class="or-abs"> <span>или</span> </div>
                <div class="item">
                    <div class="counter">2</div>
                    <div class="titl">
                        <p> <b>Позвоните по одному <br/> из телефонов  </b>  <br/> для консультации со  специалистом</p>                     
                    </div>
                    <div class="after-block">
                        <a href="callto:+375297777777" class="call-me-maybe"> +375 29 777 77 77 </a>
                        <a href="callto:+375297777777" class="call-me-maybe"> +375 29 777 77 77 </a>
                    </div>
                    
                </div>
                <div class="or-abs"> <span>или</span> </div>
                <div class="item">
                    <div class="counter">3</div>
                    <div class="titl">
                        <p> <b>Приезжайте к нам по адресу</b></p>
                        <p>г. Минск <br/> пр-т Независимости д. 157 к. 147а-1,</p>
                        <p>чтобы своими глазами посмотреть на <br/> стол-трансформер или выбрать подходящие к нему стулья.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<button class="md-trigger" data-modal="modal-10">3D Sign</button>

<div class="md-modal md-effect-10" id="modal-10">
			<div class="md-content">
				<h3>Modal Dialog</h3>
				<div>
					<p>This is a modal window. You can do the following things with it:</p>
					<ul>
						<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
						<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
						<li><strong>Close:</strong> click on the button below to close the modal.</li>
					</ul>
					<button class="md-close">Close me!</button>
				</div>
			</div>
		</div>