<section class="top-stol-transform" id="top-stol-transform">
    <div class="mbox">

        <div class="top-stol-transformer-title">Кухонный Стол-трансформер</div>
        <h2 class="title">Касабланка</h2>

        <div class="top-stol-transformer-wrap section-animate">
            <div class="top-stol-transformer-img">
                <img src="images/top-stol-transformer-img.jpg" alt="" />
            </div>
            <div class="top-stol-transformer-descriptions">

                <div class="top-stol-transformer-descript animate-delay">
                    <p>
                        Механизм <span>"Бабочка"</span>
                    </p>
                </div>
                <div class="top-stol-transformer-descript animate-delay">
                    <p>
                        <span>4 варианта</span> искуственной кожи
                    </p>
                </div>
                <div class="top-stol-transformer-descript animate-delay">
                    <p>
                        <span>7 вариантов цвета</span> ножек
                    </p>
                </div>
                <div class="top-stol-transformer-descript animate-delay">
                    <p>
                        <span>3 вида</span> ламинированного ДСП
                    </p>
                </div>
                <div class="top-stol-transformer-descript animate-delay">
                    <p>
                        Закалённое стекло <span>OptiWhite</span>
                    </p>
                </div>

            </div>
        </div>

        <div class="instruction-link">
            <a href="#">Посмотреть инструкцию (<span class="pdf-icon"></span>)</a>
        </div>

    </div>
</section>