<section class="top-block-form" id="top-block-form">
    <div class="mbox">
        <div class="top-block-form-wrap section-animate">

            <h2 class="title animate-it">Узнать цену со скидкой</h2>
            <div class="top-block-form-telefone">+375 29 777 77 77</div>
            <div class="top-block-form-descript">или оставьте номер и мы сами перезвоним</div>

            <form class="top-block-form-main">

                <div class="form-row">
                    <div class="form-input">
                        <input class="tel-mask" type="text" name="tel" required="required" placeholder="телефон" />
                    </div>
                </div>

                <div class="form-row submit-row">
                    <button class="button-transparent" type="submit">
                        <span>узнать</span>
                    </button>
                </div>

            </form>

        </div>
    </div>
</section>