<section class="top-block" id="top-block">

    <div class="mbox">

        <h1 class="title">Столы раздвижные</h1>

        <div class="top-block-descript">
            <p><span>с доставкой по всей стране</span></p>
            <p>от производителя!</p>
        </div>
        <!-- <div class="top-block-info">Цены ниже не бывают! Мы производители!</div> -->


        <div class="top-block-main">
            <div class="top-block-params">
                <div class="top-block-params-title">Размеры</div>
                <div class="top-block-params-main">
                    <p><span>1000/1379х600</span> мм</p>
                    <p><span>1100/1620х700</span> мм</p>
                    <p><span>1200/1720х800</span> мм</p>
                </div>
                <div class="top-block-params-footer">сложенный/разложенный</div>
            </div>
            <div class="top-block-img">
                <img src="images/top-block-table.png" alt="" />
            </div>
        </div>

    </div>

</section>