<section class="why-stol" id="why-stol"> 
    <div class="conteiner">
        <div class="mbox">
            <div class="super-titl">
                <h2> <span>Почему стол Касабланка </span> <b> отличный вариант для любой кухни? </b> </h2>
            </div>
            <div class="grow-block">
                <div class="row">
                    <div class="item">
                        <div class="con-cat">
                            <img src="images/sw1.png" alt="">
                        </div>
                        <div class="tip-titl">Лучшая цена. </div>
                        <div class="after"> Необычный современный дизайн. Эстетичный и красивый стол для  любого интерьера.</div>
                    </div>
                    <div class="item">
                        <div class="con-cat">
                            <img src="images/sw2.png" alt="">
                        </div>
                        <div class="tip-titl"> Гарантия 3 года.</div>

                    </div>
                    <div class="item">
                        <div class="con-cat">
                            <img src="images/sw3.png" alt="">
                        </div>
                        <div class="tip-titl">Раздвижной механизм  простой,  </div>
                        <div class="after">и поэтому надежный и долговечный.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        <div class="con-cat">
                            <img src="images/sw4.png" alt="">
                        </div>
                        <div class="tip-titl">Лучшее предложение  в городе.</div>
                        <div class="after">Мы являемся производителем с многолетним опытом.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        <div class="con-cat">
                            <img src="images/sw5.png" alt="">
                        </div>
                        <div class="tip-titl">84 варианта </div>
                        <div class="after">цвета и материала. </div>
                    </div>
                    <div class="item">
                        <div class="con-cat">
                            <img src="images/sw6.png" alt="">
                        </div>
                        <div class="tip-titl">Только качественные экологичные</div>
                        <div class="after"> материалы.</div>
                    </div>
                </div>
            </div>
            <div class="button-in-the-end">
                <button>
                    <span> Подобрать стол под вашу кухню </span>
                </button>
            </div>
        </div>
    </div>
</section>